
/* App.css */

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

main {
    flex: 1; /* Allows main content to grow and push footer down */
}
